body{
    background-color: #7ba412;/* Cor do plano de fundo */
    color: #00ffaa; /* Cor da fonte */
    font-size: 20px; /* Tamanho da Fonte */ 
    margin: 0;  /*margem em relação a tela */
}/* Comentários */

header{
    border: 2px solid #000;
    text-align: center;
    text-decoration: none;
}/* Seletor do cabeçalho */

li{
    color: #fff;
    list-style-type: none;/*Remover as bolinhas dos topicos */
    display: inline; /* Transformar coluna em linha */
    border: 2px solid #000;
    padding: 20px;
    background-color: #000;
}

li:hover{
    background-color: #444;
    font-size: 30px;
    font-family: 'Trebuchet MS'; /* Definir uma fonte */
    border: 10px solid #888;
    background-image: url("../IMAGENS/nhonho2.jpg");
}/* Modifica o conteudo original da Tag */


.titulo{
    border: 2px solid #665
}/* chamando a classe */

aside{
    background-image: url("../IMAGENS/nhonho_capa.jpg");
    background-repeat: no-repeat;
}
